<script>
$(document).ready(function() {
  $('.show-discount-form').click(function() {
    $('#discount-form').toggle();
  });
})
</script>



<p id="notice"><%= notice %></p>

<div id="user-discounts">
  <% @user.discounts.each do |discount| %>
    <div class="user-discount-card">
      <h3><%= discount.company.company_name %></h3>
      <h4><%= discount.discount_percent %>% discount</h4>
      <ul>
        <%-# TO DO: find out how to save multiple restrictions to the single table column. (join/split on new line?) -%>
        <li><%= discount.restrictions %></li>
        <li><button data-id="<%= discount.id %>">Add Restriction</button></li>
      </ul>
      <%= button_to 'Update Discount', [:edit, @user, discount], method: :get %>
      <%= button_to 'Delete Discount', [@user, discount], data: { confirm: 'Are you sure you would like to delete this discount?' },method: :delete %>
    </div>
  <% end %>
  <div class="user-discount-card">
    <%= form_for([@user, @discount], :html => {:id => 'discount-form'}) do |discount_form| %>

      <%= fields_for(@company) do |co| %>
        <div class="field">
          <%= co.label :company_name %>
          <%= co.text_field :company_name %>
        </div>
      <% end %>

      <div class="input-field">
        <%= discount_form.label :discount_percent %>
        <%= discount_form.text_field :discount_percent %>
      </div>

      <div class="input-field">
        <%= discount_form.label :restrictions %>
        <%= discount_form.text_field :restrictions %>
      </div>

      <div class="actions">
          <%= discount_form.submit %>
      </div>

    <% end %>
  </div>
</div>

<div id="profile-card">
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @user.city %>
  </p>

  <%= button_to 'Edit', edit_user_path(@user), method: :get %>
  <%= button_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' },method: :delete %>
</div>
