<%= form_for([@user, @discount]) do |f| %>
  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :discount_percent %><br>
    <%= f.number_field :discount_percent %>
  </div>
  <div class="field">
    <%= f.label :restrictions %><br>
    <%= f.text_field :restrictions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
