<h1>Listing discounts</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>User</th>
      <th>Discount percent</th>
      <th>Restrictions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.company.id %></td>
        <td><%= discount.user.id %></td>
        <td><%= discount.discount_percent %></td>
        <td><%= discount.restrictions %></td>
        <td><%= link_to 'Show', [@user, discount] %></td>
        <td><%= link_to 'Edit', [:edit, @user, discount] %></td>
        <td><%= link_to 'Destroy', [@user, discount], data: { confirm: 'Are you sure you would like to delete this discount?' },method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discount', new_user_discount_path %>
