<br>
<button class="btn btn-success btn-lg"><h1>Company Discounts <i class="fa fa-usd"></i></h1></button>

<br>



<div class="container">
<div class="row">
<br>
<% @discounts.each do |discount| %>
          <div class="col-md-4 col-sm-6">
             <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <%=image_tag("/rotating_card_thumb.png")%>
                        </div>
                        <div class="user">
                          <%=image_tag(("/rotating_card_profile.png"), class: "img-circle")%>
                        </div>
                        <div class="content">
                        <div class="main">
                        <h3 class="name"><%=discount.company.company_name.truncate(25) %></h3>
                        <br>
                        <h4 class="text-center">Discount: <%= discount.discount_percent %> %</h4>
                        <br>
                        <h4 class="text-center ct-heart">Restrictions: </h4>
                        <p class="text-center"><%= discount.restrictions %></p>
                        </div>
                            <div class="footer">
  

                        <button class="btn btn-success btn-sm" onclick="rotateCard(this)">
                                    <i class="fa fa-envelope"></i> Send a Message
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <div class="panel panel-default">
                              <div class="panel-heading clearfix">

                              <button class="btn btn-success btn-md">
                                    <i class="fa fa-envelope"></i> Send a Message
                                </button>
                                <!-- <h3 class="panel-title pull-left">Send Message</h3> -->
                                <div class="btn-group pull-right">
                                  <button class="btn btn-danger">
                                    <i class="fa fa-times"></i>
                                    Cancel
                                  </button>
                                <!--   <button class="btn btn-success">
                                    <i class="fa fa-check"></i>
                                    Send
                                  </button> -->
                                </div>
                              </div>
                        </div> 
                        <div class="modal-body">

<%= form_for @conversation, html: {class: "ui reply form"} do |f| %>
 <div class="field">
   <%= text_area_tag :message, '', class: "form-control", placeholder: "Type your message"%>
 </div>
 <%= hidden_field_tag(:sender_id, current_user.id) %>
 <%= hidden_field_tag(:recipient_id, discount.user.id) %>

 
 <div>
  <button class="btn btn-success btn-md"><%= f.submit 'Send a Message', class: "" %>
                                    <i class="fa fa-envelope"></i> 
                                </button>
   
 </div>
<% end %>








                            <form class="form-horizontal">
                              </div>
                              <div class="form-group">
                                <label class="col-xs-3 control-label">Message</label>
                                <div class="col-xs-12">
                                  <textarea class="form-control" rows="6">Message here</textarea>
                                </div>
                              </div>
                            </form>
                          </div>
                        <div class="content">
                            <div class="main">

                            </div>

                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
        
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->


<% end %>
</div>
</div>




<script type="text/javascript">
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();
        
    });
    
    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>



