<!DOCTYPE html>
<html>
<head>
  <title>Budgie</title>

    <link href='/bootstrap.css' rel='stylesheet' />
    <link href='/rotating-card.css' rel='stylesheet' />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

    <script src="js/jquery-1.10.2.js" type="javascripts/application.js"></script>
    <script src="js/bootstrap.min.js" type="javascripts/application.js"></script>




  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/nav" %>
<%= render "layouts/alerts" %>
    
<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
